@import 'assets/style/variables';
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(
    239.86deg,
    $color-gradient-start -38.15%,
    $color-gradient-end 79.47%
  );
}
