//  color used for header
$clr-grey-1: hsl(209, 61%, 16%);

//  color used for text
$clr-grey-5: hsl(210, 22%, 49%);

//  color used for background
$clr-grey-10: hsl(210, 36%, 96%);

// variables
$clr-white: #fff;
$clr-gold: #c59d5f;
$clr-black: #222;
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
