$clr-primary: #ded9d3;
$clr-dirt-white: #f8f3eb;
$clr-light-green: #c9edc3;
$clr-orange: #fc9f95;
$clr-blue: #677ec8;
$clr-light-blue: #b4d0d4;
$clr-white: #fff;
$clr-black: #222;
$clr-grey: hsl(209, 61%, 16%);
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 920px;
